<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BUS.Properties.Settings.QuanLyDeTaiTotNghiepConnectionString"
            connectionString="Data Source=DESKTOP-HT2U3NT\SQLEXPRESS;Initial Catalog=QuanLyDeTaiTotNghiep;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="BUS.Properties.Settings.QL_DOAN_TESTConnectionString"
            connectionString="Data Source=LAPTOP-CUA-PHUC\SQLEXPRESS;Initial Catalog=QL_DOAN_TEST;Persist Security Info=True;User ID=sa;Password=123456;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>