<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BUS.Properties.Settings.QL_DOANConnectionString" connectionString="Data Source=LAPTOP-CUA-PHUC\SQLEXPRESS;Initial Catalog=QL_DOAN;Persist Security Info=True;User ID=sa;Password=123456;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="BUS.Properties.Settings.QL_DOAN_TESTConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=QL_DOAN_TEST;User ID=sa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>