<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QL_DOANConnectionString" connectionString="Data Source=DESKTOP-HT2U3NT\SQLEXPRESS;Initial Catalog=QL_DOAN;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>